In [168]:
import requests 
import pandas as pd 
from bs4 import BeautifulSoup

In [169]:
url    =  'https://www.worldometers.info/coronavirus/'
web_url=   requests.get(url).content
soup   =   BeautifulSoup(web_url,'html.parser')

In [170]:

data=[]
table = soup.find('table',{"id":"main_table_countries_today"})

In [274]:
titles=[col.text for col in table.findAll('th')]
titles[0] = 'Country'


values = table.find('tbody').findAll({'tr':'row'})

for entry in values:
    entries=[x.text for x in entry.findAll('td')]
    data.append(entries)
    
df= pd.DataFrame(data,columns=titles)

df

,Country,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,ActiveCases,"Serious,Critical",TotÂ Cases/1M pop
0,China,"80,928",+34,"3,245",+8,"70,420","7,263","2,274",56
1,Italy,"35,713",,"2,978",,"4,025","28,710","2,257",591
2,Iran,"17,361",,"1,135",,"5,710","10,516",,207
3,Spain,"14,769",,638,,"1,081","13,050",800,316
4,Germany,"12,327",,28,,105,"12,194",2,147
5,USA,"9,464",+205,155,+5,108,"9,201",64,29
6,France,"9,134",,264,,602,"8,268",931,140
7,S. Korea,"8,565",+152,91,+7,"1,947","6,527",59,167
8,Switzerland,"3,115",,33,,15,"3,067",,360
9,UK,"2,626",,104,,65,"2,457",20,39
10,Netherlands,"2,051",,58,,2,"1,991",45,120
11,Austria,"1,843",+197,5,+1,9,"1,829",12,205
12,Norway,"1,598",+7,6,,1,"1,591",27,295
13,Belgium,"1,486",,14,,31,"1,441",33,128
14,Sweden,"1,301",,10,,15,"1,276",21,129
15,Denmark,"1,057",,4,,1,"1,052",24,182
16,Japan,924,+10,33,+4,191,700,46,7
17,Malaysia,900,+110,2,,75,823,15,28
18,Canada,727,,9,,12,706,1,19
19,Diamond Princess,712,,7,,527,178,14,
20,Australia,686,+90,6,,43,637,1,27
21,Portugal,642,,2,,4,636,18,63
22,Czechia,572,+50,,,3,569,5,53
23,Brazil,529,,4,,2,523,18,2
24,Israel,529,+96,,,13,516,6,61
25,Qatar,452,,,,4,448,,157
26,Greece,418,,5,,14,399,13,40
27,Ireland,366,,2,,5,359,6,74
28,Finland,359,,,,10,349,2,65
29,Luxembourg,335,+132,4,+2,,331,1,535
...,...,...,...,...,...,...,...,...,...
678,Bermuda,2,,,,,2,,32
679,Greenland,2,,,,,2,,35
680,Liberia,2,,,,,2,,0.4
681,Mauritania,2,,,,,2,,0.4
682,Namibia,2,,,,,2,,0.8
683,New Caledonia,2,,,,,2,,7
684,Saint Lucia,2,,,,,2,,11
685,U.S. Virgin Islands,2,,,,,2,,19
686,Zambia,2,,,,,2,,0.1
687,Cayman Islands,1,,1,,,0,,15
688,Nepal,1,,,,1,0,,0.03
689,Antigua and Barbuda,1,,,,,1,,10
690,Bahamas,1,,,,,1,,3
691,Bhutan,1,,,,,1,,1
692,CAR,1,,,,,1,,0.2
693,Congo,1,,,,,1,,0.2
694,Djibouti,1,,,,,1,,1
695,El Salvador,1,+1,,,,1,,0.2
696,Fiji,1,+1,,,,1,,1
697,Gambia,1,,,,,1,,0.4
698,Guinea,1,,,,,1,,0.08
699,Vatican City,1,,,,,1,,"1,248"
700,Montserrat,1,,,,,1,,200
701,Nicaragua,1,+1,,,,1,,0.2
702,St. Vincent Grenadines,1,,,,,1,,9
703,Sint Maarten,1,,,,,1,,23
704,Somalia,1,,,,,1,,0.06
705,Suriname,1,,,,,1,,2
706,Eswatini,1,,,,,1,,0.9
707,Togo,1,,,,,1,,0.1

SyntaxError: invalid syntax (<ipython-input-275-0773feefc16c>, line 1)